
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');

:root {
  --egreen: rgb(0, 153, 0);
}

body {
  background-color: white;
  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: cover;
  border: 1px solid black;
  min-height: 100vh;
}

header {
}
header h1 {
  text-align: center;
  font-size: 400%;
  background: rgba(0,153,0,0.8);
  /* background-color: var(--egreen); */
  color: white;
  padding: 4rem 0;
  margin: 0;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  border-bottom: 2px solid var(--egreen);
  font-family: "Homemade Apple", cursive;
  text-shadow: #fff 1px 0 10px;
}

menu {
  width: 100%;
  background: rgba(255,255,255,0.8);
  color: var(--egreen);
  padding: 0 2rem;
  margin: 0;
  overflow-x: auto;
  border-radius: 2rem;
}

menu ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
}

menu ul li {
  flex-grow: 1;
  display: block;
}
menu ul li.split {
  flex-grow: 100;
}

menu a {
  display: block;
  color: inherit;
  text-decoration: none;
  padding: 1rem;
  font-weight: bold;
}
menu a.active {
  color: white;
  text-decoration: none;
  /* background-color: var(--egreen); */
  background: rgba(0,153,0,0.8);
}
menu a:hover {
  color: white;
  text-decoration: none;
  background-color: var(--egreen);
}

main {
  background: rgba(255,255,255,0.8);
  border-top: 2px solid var(--egreen);
  border-bottom: 2px solid var(--egreen);
  border-radius: 2rem;
  margin-bottom: 2rem;
  padding: 1rem;
}

.twolang {
  /* display: flex; */
  /* flex-direction: row; */
  column-count: 2;
}
.twolang > div {
  flex-grow: 1;
  flex-basis: 1;
}

footer {
  background: rgba(255,255,255,0.8);
  color: gray;
  text-align: center;
  padding: 1rem;
}

@media (min-width:40rem) {
}

@media (max-width:40rem) {
  body {
  }
  header h1 {
    text-align: center;
    font-size: 200%;
    padding: 3rem 0;
  }

  .twolang {
    column-count: 1;
  }
  .twolang .en {
    text-align: right;
  }
}
