
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import "bootstrap-reboot";

:root {
  --egreen: #779734;
  --accent: #1b82bf;
  --contrast: #982718;
}

.palette {
  position: fixed;
  right: 5px;
  top: 5px;

  > div {
    border: 2px solid black;
    padding: 1em;
    border-radius: 5px;
    line-height: 0;
    display: inline-block;
    font-weight: bold;
    background-color: white;

    div {
      width: 3em;
      height: 3em;
      border-radius: 5px;
      display: inline-block;
      vertical-align: middle;
    }

    .cb {
      border: 2px solid black;
    }
    .c0 {
      background-color: var(--egreen);
      opacity: 80%;
    }
    .c1 {
      background-color: var(--egreen);
    }
    .ca {
      background-color: var(--accent);
    }
    .cc {
      background-color: var(--contrast);
    }
  }
}

body {
  background-color: white;
  // background-image: url(img/star.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: auto;
  background-attachment: fixed;
  min-height: 100vh;
}

body > header {
  h1 {
    text-align: center;
    font-size: 400%;
    background-color: var(--egreen);
    background-image: url(img/header.jpg);
    background-blend-mode: darken;
    background-size: cover;
    color: white;
    padding: 4rem 0;
    margin: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom: 2px solid var(--egreen);
    font-family: "Anton", sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}

body > menu {
  width: 100%;
  background: rgba(255,255,255,0.8);
  color: var(--egreen);
  padding: 0 2rem;
  margin: 0;
  border-radius: 2rem;
  transition: padding 0.5s ease-out;

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow-x: auto;
  }

  ul li {
    // flex-grow: 1;
    display: block;
  }
  ul li.split {
    flex-grow: 100;
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
  }
  a.active {
    color: white;
    text-decoration: none;
    background-color: var(--egreen);
    // background: rgba(0,153,0,0.8);
  }
  a:hover {
    color: white;
    text-decoration: none;
    background-color: var(--accent);
  }

  .lek a {
    display: none;
    font-family: "Anton", sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}

body > .padding {
  display: none;
}

body.sticky > menu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0;
}
body.sticky > menu .lek {
  // max-width: 20em;
  // transition: all 1s ease-out;
}
body.sticky > menu .lek a {
  display: block;
}
body.sticky > .padding {
  display: block;
}

body > main {
  background: rgba(255,255,255,0.8);
  border-top: 3px solid var(--egreen);
  border-bottom: 3px solid var(--egreen);
  border-radius: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;

  h1, h2 {
    font-family: "Anton", sans-serif;
    color: var(--contrast);
  }

  a:link {
    color: var(--accent);
  }
  a:visited {
    color: var(--accent);
  }
}

.twolang {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.event {
  border: 1px solid var(--egreen);
  border-radius: 1rem;
  padding: 1em;
}
.event+.event {
  margin-top: 1rem;
}

body > footer {
  background: rgba(255,255,255,0.8);
  color: gray;
  text-align: center;
  padding: 1rem;
}

ul.pagination {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;

  li a {
    padding: 0 1em;
  }
}

.post {
  .post-meta .day {
    font-family: "Playball", cursive;
  }
}

.latest {
  background-color: var(--egreen);
  text-align: center;
  font-size: larger;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem 0;
  display: block;
  color: white !important;
}

.video {
  text-align: center;

  iframe {
    width: 100%;
    max-width: 700px;
    aspect-ratio: 3 / 2;
  }
}

#eventoservo {
  table {
    max-width: 40em;
    margin-left: auto;
    margin-right: auto;
  }

  td, th {
    border: 1px solid var(--egreen);
    padding: 2px;
  }
}

#aniÄuformo, #kontaktuformo {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--egreen);
  padding: 1rem;
}

@media (min-width:40rem) {
  .post {
    margin: 3rem 10rem 1rem 10rem;
    padding-bottom: 1rem;
    position: relative;
    border-bottom: 3px solid var(--egreen);

    .post-meta time {
      position: absolute;
      top: 0rem;
      left: -10rem;
      width: 8rem;
      text-align: center;
      margin: 0 1rem;
      border: 1px solid var(--egreen);
      border-radius: 1em;
      text-align: center;

      .day {
        font-size: 4em;
        display: block;
        margin: 0 0;
      }
      .month {
        display: block;
        background: var(--egreen);
        color: white;
      }
      .year {
        display: block;
      }
    }

    .post-meta .by {
      color: gray;
      margin-bottom: 1rem;
      display: block;
    }
  }

  // .post+.post:before {
  //   content: "";
  //   height: 2rem;
  //   display: block;
  //   border-top: 2px solid var(--egreen);
  // }
}

@media (max-width:40rem) {
  body {
  }
  body > header h1 {
    text-align: center;
    font-size: 200%;
    padding: 3rem 0;
  }

  .post {
    padding-bottom: 1rem;

    .post-meta {
      color: gray;
      display: block;
      margin-bottom: 1rem;
    }
  }

  .twolang {
    display: block;

    .en {
      text-align: right;
    }
  }
}
