
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

@import "bootstrap-reboot";

:root {
  --egreen: #779734;
  --accent: #1b82bf;
  --contrast: #982718;
  --width: 80rem;
}

.palette {
  position: fixed;
  right: 5px;
  top: 5px;

  > div {
    border: 2px solid black;
    padding: 1em;
    border-radius: 5px;
    line-height: 0;
    display: inline-block;
    font-weight: bold;
    background-color: white;

    div {
      width: 3em;
      height: 3em;
      border-radius: 5px;
      display: inline-block;
      vertical-align: middle;
    }

    .cb {
      border: 2px solid black;
    }
    .c0 {
      background-color: var(--egreen);
      opacity: 80%;
    }
    .c1 {
      background-color: var(--egreen);
    }
    .ca {
      background-color: var(--accent);
    }
    .cc {
      background-color: var(--contrast);
    }
  }
}

body {
  background-color: white;
  // background-image: url(img/star.svg);
  background-repeat: no-repeat;
  background-position: 100% 0%;
  background-size: auto;
  background-attachment: fixed;
  min-height: 100vh;
}

body > header {
  a {
    text-decoration: none !important;
  }

  h1 {
    text-align: center;
    font-size: 400%;
    background-color: var(--egreen);
    background-image: url(img/header.jpg);
    background-blend-mode: darken;
    background-size: cover;
    background-position: 50% 50%;
    color: white;
    padding: 4rem 0;
    margin: 0;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    border-bottom: 2px solid var(--egreen);
    font-family: "Anton", sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}

body > menu {
  // width: 100%;
  max-width: var(--width);
  background: rgba(255,255,255,0.9);
  color: var(--egreen);
  padding: 0;
  margin: 0 auto 0 auto;
  // border-radius: 2rem;
  transition: padding 0.5s ease-out;
  display: flex;

  .left, .right {
    align-self: center;
    width: 2rem;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    visibility: hidden;
  }

  ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    flex-grow: 100;

    li {
      // flex-grow: 1;
      display: block;
    }

    li.split {
      flex-grow: 100;
    }
  }

  a {
    display: block;
    color: inherit;
    text-decoration: none;
    padding: 1rem;
    font-weight: bold;
    text-wrap: nowrap;
  }
  a.active {
    color: white;
    text-decoration: none;
    background-color: var(--egreen);
    // background: rgba(0,153,0,0.8);
  }
  a:hover {
    color: white;
    text-decoration: none;
    background-color: var(--accent);
  }

  .lek a {
    display: none;
    font-family: "Anton", sans-serif;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  }
}

body > menu.scroll {
  .left, .right {
    visibility: visible;
  }
}

body > .padding {
  display: none;
}

body.sticky {
  > .padding {
    display: block;
  }

  menu:not(.scroll) {
    .left, .right {
      display: none;
    }
  }

  menu {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: unset;
    z-index: 100;
    padding: 0;
  
    ul {
      max-width: var(--width);
      margin: 0 auto 0 auto;
    }
    .lek {
      // max-width: 20em;
      // transition: all 1s ease-out;
      background-color: var(--egreen);
      color: white;
    }
    .lek a {
      display: block;
    }
  }
}

body > .enhavo {
  background: rgba(255,255,255,0.8);
  border-top: 3px solid var(--egreen);
  border-bottom: 3px solid var(--egreen);
  border-radius: 2rem;
  margin-bottom: 2rem;
  padding: 1rem 2rem;

  h1, h2 {
    font-family: "Anton", sans-serif;
    color: var(--contrast);
  }

  a:link {
    color: var(--accent);
  }
  a:visited {
    color: var(--accent);
  }

  .post {
    .post-meta .day {
      font-family: "Playball", cursive;
    }

    .box-link {
      all: unset;
      cursor: pointer;
    }
  }

  main {
    max-width: var(--width);
    margin: 0 auto 0 auto;
  }
}

.twolang {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

body > footer {
  background: rgba(255,255,255,0.8);
  color: gray;
  text-align: center;
  padding: 1rem;
}

ul.pagination {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;

  li a {
    padding: 0 1em;
  }
}

.latest {
  background-color: var(--egreen);
  text-align: center;
  font-size: larger;
  border-radius: 2rem;
  padding: 1rem;
  margin: 1rem 0;
  display: block;
  color: white !important;
}
.latest:hover {
  background: radial-gradient(circle, rgba(255,255,255,1) 0%, var(--egreen) 100%);
  color: var(--egreen) !important;
  text-decoration: none !important;
}

.video {
  text-align: center;

  iframe {
    width: 100%;
    max-width: 700px;
    aspect-ratio: 3 / 2;
  }
}

.form {
  max-width: 40em;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--egreen);
  border-radius: 2rem;
  padding: 2rem 1rem;
  border-top-width: 2px;
  border-bottom-width: 2px;

  .cell-header label {
    font-weight: bold;
    text-wrap: nowrap;
  }

  select, textarea, input[type=text], input[type=email], input[type=tel], input[type=number] {
    width: 100%;
    background-color: white;
    border: 1px solid var(--egreen);
    border-radius: .3rem;
    height: 2em;
    padding: .1em .3em;
  }

  input:invalid, textarea:invalid, select:invalid {
    border-color: var(--contrast);
  }

  textarea {
    height: 10rem;
  }

  .cell.buttons {
    text-align: center;
    padding-top: 1rem;
  }

  button {
    background-color: var(--accent);
    color: white;
    border-style: none;
    border-radius: .2rem;
    padding: .5rem;
  }

  .line {
    display: flex;
    flex-flow: row nowrap;
  }
  .line+.line {
    margin-top: 1rem;
  }
  .cell+.cell {
    margin-left: 1rem;
  }
  .cell {
    flex: 1;
  }
  .cell.split0 {
    flex: 0 0;
  }
  .cell.split3 {
    flex: 3;
  }
  .cell.split6 {
    flex: 6;
  }
  .cell.split10 {
    flex: 10;
  }

  .checkbox > * {
    display: inline;
  }

  hr {
    border: 1px solid var(--egreen);
  }

  .msg {
    display: none;
    font-weight: bold;
    text-align: center;
  }
  .msg.working {
    color: var(--accent);
  }
  .msg.success {
    color: var(--accent);
  }
  .msg.invalid {
    margin-top: 1rem;
    color: var(--contrast);
  }
  .msg.error {
    margin-top: 1rem;
    color: var(--contrast);
  }
}

.enhavo main .calendar {
  .box-link {
    all: unset;
    color: black;
    cursor: pointer;
  }

  .event {
    display: grid; 
    grid-template-columns: 5em 1fr 5em;
    grid-template-rows: auto;
    gap: 0.5em 1em;
    grid-template-areas: "date content";
    margin-bottom: 1em;

    border: 2px solid var(--egreen);
    border-radius: 2em;

    .event-meta {
      text-align: center;
      align-content: center;
      background-color: var(--egreen);
      color: white;
      padding: 1rem;
      border-radius: 1.8em 0 0 1.8em;
      text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
        
      .day {
        font-size: 2em;
        font-family: "Playball", cursive;
      }
    }
    
    h3 {
      font-weight: normal;
      font-size: 1.5em;
      // font-family: "Anton", sans-serif;
      // color: var(--egreen);
      margin-top: .5em;
    }

    .event-ikono {
      align-content: center;
      text-align: center;
      color: var(--egreen);
    }
  }

  .box-link:hover {
    .link { 
      color: var(--accent);
    }
    .event {
      border-color: var(--accent);
    }
    .event-meta {
      background-color: var(--accent);
    }
    .event-ikono {
      color: var(--accent);
    }
  }
}

.tablo-estraro {
  margin-bottom: 1em;
  td {
    padding: .5em .5em .5em 0;
  }
  tr > td:first-child {
    font-weight: bold;
  }
  td, th {
    padding: .5em;
    border: 1px solid #dee2e6
  }
  th {
    background-color: rgba(0,0,0,.05);
  }
}

.tablo-estraro-pasinta {
  width: 100%;
  margin-bottom: 1em;
  td, th {
    padding: .5em;
    border: 1px solid #dee2e6
  }
  thead {
    background-color: rgba(0,0,0,.05);
  }
  tbody > tr:nth-child(2n) {
    background-color: rgba(0,0,0,.05);
  }
}

li p {
  margin-bottom: 0;
}

.imgright {
  max-width: 25%;
  float: right;
  border: 1px solid black;
}

// @media (min-width:84rem) {
//   body > menu {
//     .left, .right {
//       display: none;
//     }
//   }
// }

@media (min-width:40rem) {
  .post {
    margin: 3rem 0 1rem 10rem;
    padding-bottom: 1rem;
    position: relative;
    border-bottom: 3px solid var(--egreen);
    min-height: 14em;

    .post-meta time {
      position: absolute;
      top: 0rem;
      left: -10rem;
      width: 8rem;
      text-align: center;
      margin: 0 1rem 0 0;
      border: 1px solid var(--egreen);
      border-radius: 1em;
      text-align: center;

      .day {
        font-size: 4em;
        display: block;
        margin: 0 0;
      }
      .month {
        display: block;
        background: var(--egreen);
        color: white;
      }
      .year {
        display: block;
      }
    }

    .post-meta .by {
      color: gray;
      margin-bottom: 1rem;
      display: block;
    }
  }

  .event.post {
    margin-top: 1rem;
  }

  // .post+.post:before {
  //   content: "";
  //   height: 2rem;
  //   display: block;
  //   border-top: 2px solid var(--egreen);
  // }
}

@media (max-width:40rem) {
  body > header h1 {
    text-align: center;
    font-size: 200%;
    padding: 3rem 0;
  }

  .post {
    padding-bottom: 1rem;

    .post-meta {
      color: gray;
      display: block;
      margin-bottom: 1rem;
    }
  }

  .calendar {
    .event {
      grid-template-columns: 4em 1fr 4em;
      gap: .5rem;
    
      .event-meta {
        // font-size: 1.5em !important;
        // padding: .5rem !important;
      }

      .event-line {
        padding: 0;
      }
      
      h3 {
        font-size: 1.2em !important;
      }
    }
  }

  .twolang {
    display: block;

    .en {
      text-align: right;
    }
  }

  .imgright {
    display: none;
  }
}
