{{ define "title" }}
  {{ .Site.Title }} - {{ .Title }}
{{ end }}

{{ define "main" }}
<main aria-role="main">
  {{ .Content }}
  {{ $pages := (sort .Pages "File.Path").Reverse }}
  <noscript>
    {{ range (.Paginate $pages 10).Pages }}
      <article class="post event">
        <header>
          <h3 class="title">{{ .Title }}</h3>
          <div class="post-meta">
            <time class="time"><span class="day"></span></time>
          </div>
        </header>
        <span class="place">{{ .Param "place" }}</span>
        {{ .Content }}
        <footer>
          <a class="link" href="{{ .RelPermalink }}"><nobr>Pli →</nobr></a>
        </footer>
      </article>
    {{ end }}
  </noscript>
  <script>
    const events = [
      {{ range (.Paginate $pages 10).Pages }}
        {
          "title": {{ .Title }},
          "date": {{ .Param "eventdato" }},
          "place": {{ .Param "loko" }},
          "url": {{ .RelPermalink }},
          "text": {{ .Content }},
        },
      {{ end }}
    ]
  </script>
  <div class="calendar">
    <template id="tmp-event">
      <div class="event">
        <div class="event-meta">
          <time class="time"><span class="month"></span> <span class="day"></span></time>
        </div>
        <div class="event-line">
          <h3><span class="title"></span></h3>
          <p class="place"></p>
          <p><a class="link"><nobr>Pli →</nobr></a></p>
        </div>
      </div>
    </template>
  </div>
</main>
{{ end }}
